.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 1em auto 0 auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    /* background-color: #bbb; */
    color: white;
}

.flip-card-back {
    /* background-color: #2980b9; */
    color: white;
    transform: rotateY(180deg);
}
.card-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 300px;
    height: 300px;
}
.card-context {
    font-weight: bold;
    text-align: center;
    padding: 2em 0.75em 1em 0.75em;
}

.containerColor {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.containerColor .cardColor .boxColor {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    cursor: pointer;
    margin: 1rem 0.5rem 1rem auto;
}
